*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contenedor
{
	width: 98%;
    margin: auto;
}
section
{
    width: 100%;
    margin-bottom: 25px;
}
.panel
{
margin-top: 50px;
margin-bottom: 25px;
}

/*------------------------------------------------INTERCESORES-------------------------------------*/
.titulo-intercesores h2
{
	margin-top: 100px;
	text-align: center;
}

.titulo-intercesores p
{
	text-align: center;
	color: green;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
}

.titulo-optiones h2
{
	text-align: center;
}

.titulo-optiones img
{
	height: 100%;
	width: 100%;
}

