*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

.contenedor{
          width: 98%;
          margin: auto;
}

.section{
          width: 100%;
          margin-bottom: 25px;
}

#banner img{
          width: 100%;
          height: 100%;
}
#titulo{
          text-align: center;
}

#blogs .contenedor{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
}

#blogs article{
         margin: 15px;
}
@media(min-width:768px){
          #banner{
             height: 300px;
             overflow: hidden;
          }
          #banner img{
                    height: auto;
                    margin-top: -100px;
          }
}

@media(min-width:1024px){
          #banner{
             height: 500px;
          }
          #banner img{
                    margin-top: -200px;
          }
          
}