.form-modificar form
{
	margin: auto;
	width: 450px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10%;	
	border: 1px solid;
}

.form-modificar h3
{
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}

.form-modificar input, textarea, select
{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 12px;
          text-align: center;
}

.form-modificar p
{
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 10px;
}

/*----------------------------------------- ESTILOS DE LA VENTANA LOGIN ------------------------------------*/
.login
{
	text-align: center;
	margin-top: 60px;
}
.login img
{
	width: 20%;
}
.FormLogin form
{
	margin: auto;
	width: 400px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 25px;	
	border: 1px solid;
	border-radius: 7px;
}
.FormLogin h2
{
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}
.FormLogin input
{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 12px;
}
.FormLogin #btnlogin
{
	cursor: pointer;
}
